@model List<Movie>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>

<h2>Movie</h2>
<ul>
    @foreach (var movie in Model)
    {
        <li>
            @movie.Name
        </li>
    }
</ul>

